
.heading {
  font-size: 1.3rem;
  border: 1px solid #ddd;
}

.btns {
  outline: none;
  border: 1px solid #ddd;
  vertical-align: middle;
}

.btns-i {
  outline: none;
  color: #6d757d;
  border: 1px solid #6d757d;
  padding: 5px;
  border-radius: 2px;
}

.btns-red {
  outline: none;
  color: #dc3645;
  border: 1px solid #dc3645;
  padding: 5px;
  border-radius: 2px;
}

.member-txt {
  background-color: #18a2b8;
  color: #fff;
  padding: 5px;
  border-radius: 2px;
}

.notamember-txt {
  background-color: #6d757d;
  color: #fff;
  padding: 5px;
  border-radius: 2px;
}
